<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>
  <div class="columns six alpha" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= image_tag @product.images.first.attachment.url(:original), :itemprop => "image" %>
        </div>

        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails', :locals => { :product => @product } %>
        </div>
      </div>

      <div data-hook="product_properties">
        <%= render :partial => 'properties' %>
      </div>

    </div>
  </div>

  <div class="columns ten omega" data-hook="product_right_part">
    <div class="row frosted" data-hook="product_right_part_wrap">

      <div id="product-description" data-hook="product_description">

        <h1 class="product-title <%= @product.permalink %>" itemprop="name"><%= accurate_title %></h1>

        <h2 class="product-sub-title" itemprop="name">
          <%= @product.description %>
        </h2>
        
        <div itemprop="description" data-hook="description">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
          vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
          odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </div>

        <div id="cart-form" data-hook="cart_form">
          <%= render :partial => 'cart_form' %>
        </div>

      </div>

    </div>
  </div>

</div>

<div class="policies clearfix">
  <div class="policy icon-payment">
    <h4>PAYMENT</h4>
    <p>We ship to all corners of the realm. Due to the current political climate we can only offer a few select beers from around the realm. Your order is insured against hijacking, but we cannot foresee the  course of the war, so delays may occur. </p>
  </div>

  <div class="policy icon-shipping">
    <h4>SHIPPING INFORMATION</h4>
    <p>We ship to all corners of the realm. Due to the current political climate we can only offer a few select beers from around the realm. Your order is insured against hijacking, but we cannot foresee the  course of the war, so delays may occur. </p>
  </div>
</div>
